book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Book" type="BookType"/>
  <xs:complexType name="authorsType">
    <xs:sequence>
      <xs:element type="xs:string" name="authors"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element type="authorsType" name="authors"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="pages"/>
      <xs:element type="xs:string" name="isbn"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>